@import "vars";

@media (min-width: 1490px) {
/*  .container {
    max-width: 1424px;
  }

  .col-xxl-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
  }*/

}

@media (min-width: 1200px) {
  .modal-lg {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {

  .main-logo {
    height: 2.5rem;
  }

  .main-phone {
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    border: 3px solid $main-w;
  }

  .main-title {
    top: 30%;
    font-size: 4rem;
  }

  .main-description {
    margin-top: 35rem;
  }

  .scroll-down {
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: $main-w;
    font-size: 1.2rem;
    transform: rotate(90deg);
    top: 40%;
  }

  .modal-lg {
    max-width: 80%;
  }

  .textarea-wrapper-modal {
    align-items: center;
    textarea {
      margin-top: 1rem;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-input {
    font-size: 1.2rem;
    padding: 2rem 0 2rem 4rem;
  }

  .icons-advantages {
    width: 18rem;
    display: block;
  }

  .icons-advantages-names {
    top: 48%;
  }

  .icons-tariffs-names {
    top: 68%;
  }
/**/
}


@media (max-width: 991px) {

  .menu {
    position: static;
  }

  .menu-nav {
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    top: -3.8rem;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background: rgba($main-d, 0.8);

  }

  .menu-nav .menu-list:first-of-type {
    margin-top: 3rem;
  }

  .burger {
    display: block;
    z-index: 101;
    margin-top: 3.8rem;
  }

  .burger-menu {
    display: none;

    &:checked {
      ~ nav .menu-nav {
          z-index: 100;
          opacity: 1;
      }
    }
  }

  .main-description {
    margin-top: 46rem;
  }

  .btn-main {
    font-size: 1.2rem;
    padding: 2rem 7rem;
  }

  .tab-icon {
    width: 8rem;
  }

  .btn-cases {
    font-size: 1.2rem;
    width: 28rem;
    height: 6.5rem;
  }

  .section-title {
    font-size: 3.2rem;
    span {
      font-size: 1.2rem;
    }
  }

  .cases-overlay {
    padding: 12rem 4rem 10rem;
  }

  .burger-table {
    margin-left: 5rem;
  }

 .icons-advantages-names{
   top: 40%;
 }

  .btn-tariff {
    font-size: 1.2rem;
    width: 18rem;
    height: 6rem;
  }

  .textarea-wrapper {
    align-items: flex-start;
  }

  textarea {
    margin-top: 1rem;
  }

  .our-contacts-title {
    font-size: 1.2rem;
  }

  .our-contacts-list {
    font-size: 1.2rem;
  }

  .our-contacts-input {
    padding: 2rem 0 2rem 0;
    font-size: 1.2rem;
  }

  .btn-our-contacts {
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .download-link {
    font-size: 1.2rem;
  }
/**/
}

@media (max-width: 767px) {

  .main-title {
    font-size: 2.8rem;
  }

  .main-description {
    margin-top: 40rem;
  }

  .section-description {
    margin-top: 3rem;
  }

  .btn-main {
    font-size: 1.2rem;
    padding: 1.5rem 5rem;
  }

  .tab-icon {
    width: 5rem;
  }

  .tab-description {
    font-size: 1.2rem;
  }

  .overlay-title {
    font-size: 3rem;
  }

  .overlay-text {
    font-size: 1.2rem;
  }

  .btn-cases {
    width: 20rem;
    height: 5rem;
  }

  .cases-overlay {
    padding: 9rem 3rem 7rem;
  }

  .section-title {
    font-size: 2.3rem;
  }

  .section-title:before {
    top: 1rem;
    left: -6.4rem;
  }

  .icons-advantages-names {
    top: 55%;
  }

  .btn-tariff {
    margin-bottom: 0;
  }

  .m-b-8 {
    margin-bottom: 8rem;
  }

  .btn-accordion {
    font-size: 1.2rem;
  }

  .mb-0 > .btn-accordion:before {
    content: '';
  }

  .mb-0 > .btn-accordion:after {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 27%;
    bottom: 0;
  }

  .btn-contacts {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 2rem 6rem;
  }
  .our-contacts-description {
    font-size: 1.2rem;
  }

  .m-t-1 {
    margin-top: 1.3rem;
  }

  .our-contacts-list {
    font-size: 1rem;
  }

  .our-contacts-list img {
    height: 1.3rem;
  }

  .our-contacts-link {
    font-size: 1rem;
  }

  .tab-link {
    font-size: 1.2rem;
  }

  .contacts-input {
    padding: 1rem 0 1rem 1.5rem;
    font-size: 1.2rem;
  }

  textarea.contacts-input {
    height: 12rem;
  }
  /**/
}

@media (max-width: 575px) {

  .main-phone {
    font-size: 1rem;
    margin-top: 2.9rem;
    padding: 0.6rem 1rem;
  }

  .main-title {
    font-size: 2.5rem;
    top: 20%;
  }

  .main-description {
    margin-top: 25rem;
  }

  .advantages-table-wrapper {
    display: none;
  }

  .icons-advantages-names {
    top: 52%;
  }


/**/

}






