@font-face {
    font-family: 'Montserrat Regular';
    src: url('./Montserrat-Regular.otf') format('woff'),
    url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}