@import 'vars';
@import 'fonts';
@import 'common';

/*************************************Main Screen*****************************/

 
#main-screen {
  background: linear-gradient(rgba(0, 1, 5, 0.5), rgba(0, 1, 5, 0.5)),
    url(../img/main-bgd.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.menu-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.menu-list {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $main-w;
}

.menu-link {
  display: block;
  color: $main-w;
  padding: 0 1.2rem;
  line-height: 2.5;
  position: relative;

  &.hover:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $accent;
    opacity: 0;
    transition: ease 0.1s;
  }

  &.hover:hover:before {
    opacity: 1;
  }

  img {
    height: 1.3rem;
  }
}

.main-logo {
  height: 3.1rem;
  margin-top: 2.9rem;
}

.main-phone {
  display: block;
  color: $main-w;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  margin-top: 2.9rem;
  padding: 1.5rem 4rem;
  border: 3px solid $main-w;

  &:hover {
    color: $main-w;
  }
}

.main-title {
  position: absolute;
  display: inline-block;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 5.5rem;
  color: $main-w;
  /*margin-top: 30rem;*/
  text-transform: uppercase;
  top: 40%;
  left: 1.5rem;
  right: 0;
  z-index: 5;
}

.main-description {
  color: $main-w;
  font-size: 1.4rem;
  margin-top: 45rem;
}

.btn-main {
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  padding: 3rem 9rem;
  text-transform: uppercase;
  color: $main-w;
  margin-top: 4rem;
}

.btn-yellow {
  border: 3px solid $accent;
}

.btn-purple {
  border: 3px solid $sub;
  color: $main-d !important;
}

.scroll-down {
  display: block;
  position: absolute;
  text-transform: uppercase;
  color: $main-w;
  font-size: 1.2rem;
  transform: rotate(90deg);
  top: 48%;
  right: -6rem;

  &:hover {
    color: $main-w;
  }

  &:after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 1px;
    background-color: $main-w;
    top: 50%;
    right: -2.5rem;
  }

  &:before {
    content: '';
    position: absolute;
    width: 5rem;
    height: 3px;
    background-color: $accent;
    top: -5px;
    left: 0;
  }
}

.burger {
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  background: rgba($main-w, 1);
  height: 0.2rem;
  opacity: 1;
  width: 2.8rem;
  transition: all 0.3s ease-in-out;
  display: none;

  &::before {
    position: absolute;
    background: rgba($main-w, 1);
    width: 2.8rem;
    height: 0.2rem;
    top: 0.8rem;
    content: '';
    display: block;
  }

  &::after {
    position: absolute;
    background: rgba($main-w, 1);
    width: 2.8rem;
    height: 0.2rem;
    bottom: 0.8rem;
    content: '';
    display: block;
  }

  &::after,
  &::before {
    transition: all 0.3s ease-in-out;
  }
}

.burger-menu {
  display: none;
  &:checked {
    ~ .burger {
      background: rgba($main-w, 0);
      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }
      &::before {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}

/**************************** Cases *************************/

.cases {
  margin-bottom: 8rem;
}

.section-title {
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat SemiBold', sans-serif;
  font-size: 3.6rem;
  margin-left: 6.4rem;
  margin-top: 6rem;
  line-height: 1;
  span {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1.4rem;
    color: $main-d;
  }
}

.section-title.section-title-yellow {
  color: $accent;
}

.section-title-purple {
  color: $sub;
}

.section-title:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 5rem;
  top: 2.2rem;
  left: -6.4rem;
}

.section-title.section-title-yellow:before {
  background-color: $accent;
}

.section-title.section-title-purple:before {
  background-color: $sub;
}

.section-description {
  font-size: 1.4rem;
  margin-top: 9.5rem;
}

.tab-link {
  display: block;
  width: 100%;
  line-height: 8rem;
  color: $main-w;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: $grey;
  text-align: center;

  &:hover {
    color: $main-w;
  }
}

.tab-link.active {
  background-color: $accent !important;
}

.tab-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
  height: 8rem;

  li {
    height: 8rem;
    flex-basis: 33.333333333%;
  }
}

.tab-icon {
  width: 11rem;
}

.tab-description {
  font-size: 1.4rem;
}

.tab-pane {
  width: 100%;
}

.cases-content {
  display: block;
  width: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  margin-top: 8rem;
}

.cases-item {
  position: relative;
  width: 100%;
  z-index: 5;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

.cases-item:before {
  content: '';
  background: linear-gradient(rgba(49,49,49, 0.8), rgba(49,49,49, 0.8));
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  transition-property: opacity;
  transition-duration: 0.3s;
}


.cases-item .cases-overlay-descr {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.262626262%;
  z-index: 9;
}


.overlay-title {
  font-size: 3.6rem;
  text-align: center;
  color: $main-w;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0s;
}

.overlay-text {
  font-size: 1.4rem;
  color: $main-w;
  margin-top: 6.313131313%;
  margin-bottom: 7.151515151%;
  /*margin-top: 2.5rem;
  margin-bottom: 6rem;*/
  text-align: center;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.cases-item .description-mobile {
  display: none;
}

.btn-cases {
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  width: 57.119205298%;
  height: 5rem;
  /*width: 34.5rem;
  height: 7.6rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $main-w;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  &:hover {
    color: $main-w;
  }
}

.cases-item:focus:before,
.cases-item:focus .overlay-title, .cases-item:focus .overlay-text, .cases-item:focus .btn-cases, .cases-item:hover:before,
.cases-item:hover .overlay-title, .cases-item:hover .overlay-text, .cases-item:hover .btn-cases {
  opacity: 1;
}

.cases-item:focus .overlay-title, .cases-item:hover .overlay-title,
.cases-item:focus .overlay-text, .cases-item:hover .overlay-text {
  transition-delay: 0.25s;
}
.cases-item:focus .btn-cases, .cases-item:hover .btn-cases {
  transition-delay: 0.55s;
}


.btn-cases-end {
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  width: 34.5rem;
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $main-w;
  &:hover {
    color: $main-w;
  }
}

.mar-t-b-1 {
  margin: 8rem auto 0;
}

.hvr-rectangle-out {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  position: relative;
  /*background: #e1e1e1;*/
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $accent;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:active {
  color: $main-w;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:active:before {
  transform: scale(1);
}

/**************************** Advantages ***************************/

.icons-advantages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icons-advantages {
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 25.5rem;
  display: block;
}

.icons-advantages-descr {
  font-size: 1.4rem;
  text-align: center;
}

.icons-advantages-names {
  position: absolute;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $sub;
  top: 52%;
}

.advantages-table {
  display: table;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  width: 100%;
  text-transform: uppercase;
  margin-top: 8rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.advantages-row {
  display: table-row;
}

.advantages-col {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  padding: 2rem 0;
}

.mark-purple:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background-color: $sub;
  height: 1rem;
  width: 1rem;
}

.mark-grey:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background-color: $grey;
  height: 1rem;
  width: 1rem;
}

.mark-white:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background-color: $main-w;
  height: 1rem;
  width: 1rem;
}

.advantages-col.col-colored {
  color: $main-w;
  background-color: $accent;
}

.advantages-col.cell-we {
  font-size: 2.5rem;
}

.row-caption .advantages-col {
  padding: 8rem 0 4rem;
}

.row-ending .advantages-col {
  padding: 2rem 0 8rem;
}

.burger-table {
  position: relative;
  background-color: $grey;
  height: 1px;
  width: 2rem;
  margin-left: 10rem;

  &::before {
    position: absolute;
    background-color: $grey;
    width: 2rem;
    height: 1px;
    top: 4px;
    content: '';
    display: block;
  }

  &::after {
    position: absolute;
    background-color: $grey;
    width: 2rem;
    height: 1px;
    bottom: 4px;
    content: '';
    display: block;
  }
}

/****************************** Tariffs *********************************/

.tarif-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-d;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Montserrat Regular', sans-serif;
}

.tarif-meta-title {
  font-size: 4.6rem;
  margin-right: 1rem;
  color: $sub;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: bold;
}

.tarif-subtitle{
  text-align: center;
  margin-top: 1.5rem;
  color: $sub;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.tarif-content{
  text-align: center;
  margin-top: 1.5rem;
  color: $main-d;
  font-family: 'Montserrat Regular', sans-serif;
  min-height: 9rem;
  padding-bottom: 13rem;
  font-size: 1.4rem;
}


.icons-tariffs-names {
  position: absolute;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $sub;
  top: 72%;
}

.tariff-description {
  list-style: none;
  margin-top: 5rem;
  margin-bottom: 12.6rem;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;

  li {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

.service-dots {
  flex: 1 0;
  border-bottom: 1px dotted $grey;
  height: 1.2em;
  margin: 0 0.3rem;
}

.tariff-wrapper {
  position: relative;
}

.btn-tariff {
  position: absolute;
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  width: 24.5rem;
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $grey;
  bottom: 0;
  left: calc(50% - 24.5rem/2);
}

.mar-b-2 {
  margin-bottom: 8rem;
}

.accordion {
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.card {
  border: none;
}

.card-header {
  background-color: $light;
  border: none;
}

.btn-accordion {
  display: inline-block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mb-0 {
  position: relative;
}

.mb-0 > .btn-accordion:before {
  content: 'Подробнее'; /* fa-caret-down */
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  right: 2rem;
  top: 27%;
  bottom: 0;
  color: $grey;
  text-transform: uppercase;
}

.mb-0 > .btn-accordion:after {
  content: '\f0d7'; /* fa-caret-down */
  font-family: 'Font Awesome';
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  top: 27%;
  bottom: 0;
  color: $grey;
}

.mb-0 > .btn-accordion[aria-expanded='true']:after {
  content: '\f0d8'; /* fa-caret-up */
  color: $grey;
}

.card-header.is-active {
  background-color: $accent;
}

.card-body {
  font-size: 1.4rem;
  padding: 4rem;
}

.square-yellow {
  position: relative;
}

.square-yellow:before {
  content: '';
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid $accent;
  left: -4rem;
  top: 2px;
}

.card-body-list {
  list-style: none;
}

/*********************************** Contacts ************************************/

#contacts {
  background: linear-gradient(rgba(0, 1, 5, 0.5), rgba(0, 1, 5, 0.5)),
    url(../img/main-bgd.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 8rem;
}

.section-title.section-title-contacts {
  span {
    color: $main-w;
  }
}

.section-title.section-title-contacts:before {
  background-color: $main-w;
}

.section-description.section-description-contacts {
  color: $main-w;
}

.form-contacts {
  margin-top: 8rem;
}

.contacts-input {
  width: 90%;
  border: 3px solid $accent;
  padding: 3rem 0 3rem 6rem;
  text-transform: uppercase;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  color: $main-w;
  background-color: transparent;

  &::placeholder {
    color: $main-w;
  }
}

.contacts-input-m {
  margin-top: 1rem;
}

textarea.contacts-input {
  height: 18.3rem;
  resize: none;
}

.btn-contacts {
  color: $main-w;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 3rem 12rem;
  background-color: $accent;
  border: 3px solid $main-w;
  text-transform: uppercase;
}

/***************************OurContacts **************************/

.our-contacts-title {
  margin-top: 8rem;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.our-contacts-nav {
  list-style: none;
}

.our-contacts-list {
  position: relative;
  font-size: 1.4rem;
  font-family: 'GothamPro Medium', sans-serif;
  text-transform: uppercase;
  padding-left: 2.8rem;

  img {
    position: absolute;
    display: inline;
    left: 0;
    height: 2.3rem;
    top: calc(50% - 2.3rem/2);
  }
}

.mar-b-3 {
  margin-bottom: 2.3rem;
}

.m-t-1 {
  margin-top: 3rem;
}

.our-contacts-link {
  color: $main-d;

  &:hover {
    color: $main-d;
  }
}

.our-contacts-description {
  margin-top: 10rem;
  font-size: 1.4rem;
}

.our-contacts-input {
  width: 90%;
  border: 3px solid $accent;
  padding: 3rem 0 3rem 0;
  text-transform: uppercase;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  color: $main-d;
  background-color: transparent;
  text-align: center;
  margin-top: 3.5rem;

  &::placeholder {
    color: $main-d;
  }
}

.btn-our-contacts {
  width: 90%;
  border: 3px solid $main-d;
  background-color: $accent;
  color: $main-w;
  text-transform: uppercase;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  padding: 3rem 0;
}

/************************ Documents ********************/

.download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  text-transform: uppercase;
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
}

.is-grey {
  color: $main-w;
  background-color: $main-d;
  &:hover {
    color: $main-w;
  }
}

.is-yellow {
  color: $main-d;
  background-color: $accent;
  &:hover {
    color: $main-d;
  }
}

.footer-documents {
  margin-top: 8rem;
}

.close-modal {
  font-size: 2.5rem;
}

.form-contacts-title {
  font-family: 'GothamPro Medium', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}

.form-contacts-modal {
  padding: 1rem 3rem 5rem;
}

.textarea-wrapper-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts-input-modal {
  color: $main-d;

  &::placeholder {
    color: $main-d;
  }
}

.success-message {
  margin-top: 3rem;
  padding: 1rem 2rem 5rem;
}

.success-message-title {
  font-family: 'Montserrat SemiBold', sans-serif;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: $accent;
  text-align: center;
}

.success-message-descr {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

#political .modal-dialog{
  max-width: 768px;
  font-size: 1.5rem;
}

.text-white{
  color: $main-w;
}



@import 'responsive'; /* always in the end!!*/
