@font-face {
    font-family: 'Montserrat Bold';
    src: url('./Montserrat-Bold.otf') format('woff'),
    url('./Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}