@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('./Montserrat-SemiBold.otf') format('woff'),
    url('./Montserrat-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}