@import "vars";
@import "fonts";


*, html {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Regular', sans-serif;
  color: $main-d;
  background-color: $main-w;
  /*position: relative;  for scrollSpy bootstrap*/
}

a {
  text-decoration: none;
  /*color: $main-d;*/
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

/*input[type=email],input[type=tel],input[type=text],textarea {
  -webkit-appearance: none;
}*/

input, button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

button, input[type="submit"] {
  cursor: pointer;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}